@model MvcLoginExample.Models.UserModel

<form asp-action="Index" method="post">
    <div>
        <label for="Username">Username</label>
        <input type="text" id="Username" name="Username" required>
    </div>
    <div>
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" required>
    </div>
    <button type="submit">Login</button>
</form>
